@import "../common.scss";

.fact {
    text-align: center;
    max-width: 40ch;
}

.index {
    height: 100%;
    min-height: 500px;

    > .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        > .title {
            $title-color: white;
            text-align: center;

            font-family: "Bungee";
            font-size: 58px;

            > img {
                margin: 0 auto;
                text-align: center;
                display: block;
            }

            @media(max-width: 400px){
                font-size: 12vh;
            }

            &, .sub {
                line-height: 100%;
            }
            > .sub {
                color: darken($title-color, 20%);
                font-size: 0.4em;
            }
        }

        @mixin d3border($size, $color) {
            border: none;
            border-bottom: $size solid $color;
            border-radius: 10px;
        }

        $border-sz: 4px;

        > form {


            > textarea {
                margin: 0;
                width: 100%;

                background-color: grey;
                color: white;

                @include d3border($border-sz, darken(grey, 25%));
            }
        }

        .buttons {
            display: flex;
            justify-content: space-around;

            button {
                color: white;
                border: none;
                flex-grow: 1;

                margin: $border-sz $border-sz + 4;
                margin-left: 0;
                &:last-child {
                    margin-right: 0;
                }

                &[value=refresh] {
                    background-color: lightskyblue;
                    @include d3border($border-sz, darken(lightskyblue, 25%));
                }

                &[value=stop] {
                    background-color: lightcoral;
                    @include d3border($border-sz, darken(lightcoral, 25%));
                }
            }
        }
    }
}
