doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="../node_modules/normalize.css/normalize.css")
        link(rel="stylesheet", href="../node_modules/skeleton.css/skeleton.css")
        script(src="./index.js" defer)

        title Catfacts | Why not?
    body
        #react-app
        noscript Seriously, no JS support? What year is it? Unless you're a lynx user, of course.